.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(63, 63, 63, 0.767);
}

.card:hover .overlay {
    opacity: 1;
  }

.hoverMsg{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}