@import url('https://fonts.googleapis.com/css?family=Expletus+Sans|Happy+Monkey&display=swap');
body{
    display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 3%;
    background: rgba(0, 0, 0, 0.582) url("../Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Happy Monkey', cursive;
}
h1{
    font-family: 'Expletus Sans', cursive;
    text-shadow: 2px 2px rgba(64, 98, 112, 0.356);
    grid-column: 2 / 6; 
    grid-row: 1 / 2;
    text-align: left;
    font-size: 80px;
    margin-top: 1.5%;
    margin-bottom: 3%;
}
.dropDown{
    text-align: center;
    grid-column: 1/2; 
    grid-row: 1/5;
    margin-left: 10%; 
}
#dropDownBtn{
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 50%;
    width: 40%;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.548);
    padding: 5%;
    z-index: 1;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
}
#dropDownBtn:hover{
    background-color: rgba(139, 139, 139, 0.712);
    border-style: solid;
    border-color: black;
}
#dropDownBtn:focus{
    outline: none;
}
#dropDownList{
    display: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.548);
    z-index: 1;
}
#dropDownList a{
    display: block;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
}
#dropDownList a:hover{
    background-color: rgba(139, 139, 139, 0.712);
    border-style: solid;
    border-color: black;
}
#dropDownList a:nth-child(1){
    border-radius: 30px 30px 0% 0%;
}
#dropDownList a:nth-last-child(1){
    border-radius: 0% 0% 30px 30px;
}
p{
    font-size: 20px;
    margin: 0;
    padding: 2%;
    background:rgba(113, 205, 244, 0.883);
}
.lists{
    margin-left: 5%;
    margin-right: 10%;
    grid-column: 2 / 4; 
    text-align: center;
    list-style: inside;
    border-style: solid;
    background:rgba(255, 255, 255, 0.548);
}
#ingredientList{
    grid-row: 2 / 3;
}
#instructionsList{
    grid-row: 3 / 5;
    padding-bottom: 5%;
}
.insideLists{
    text-align: left;
    margin-left: 20%;
    padding-left: 0;
    padding-right: 10%;
}
#otherInfo{
    text-align: left; 
    margin-left: 10%;
    margin-right: 10%;
}
a{
    color: darkcyan;
}
#pokemonImage{
    grid-column: 4 / 5; 
    grid-row: 2 / 4; 
    height: 335px;
    text-align: center;
    border-style: solid;
    background:rgba(255, 255, 255, 0.548);
}